@import "smallScreen";
body {
  background: #333;
  color: white;
  font-size: 100%;
  font-family: mongolian;
}
@mixin flex($flexdirection) {
  display: flex;
  flex-flow: $flexdirection wrap;
  justify-content: center;
  align-items: center;
}
//error here
.container {
  @include flex(column);
  width: auto;
  //height: 100vh;
  h2 {
    font-size: 50px;
    margin: 0;
  }
  p {
    font-size: 25px;
  }
  .input {
    @include flex(row);
    width: 100%;
    .input-box {
      height: 24px;
      width: 100px;
      margin: 1%;
      font-size: 20px;
      color: yellow;
      background: #333;
      border: none;
      border-bottom: 2px solid white;
      outline: none;
    }
  }
  .buttons {
    button {
      border: 1px solid white;
      outline: none;
      background: transparent;
      color: white;
      width: 80px;
      height: 40px;
      &:hover {
        background: white;
        color: black;
      }
    }
  }
  .timer-container {
    width: 600px;
    height: 200px;
    background: red;
    border-radius: 10px;
    @include flex(row);
    p {
      color: black;
      font-size: 40px;
    }
    .circles {
      @include flex(row);
      width: 120px;
      height: 120px;
      background: white;
      margin: 2%;
      border-radius: 50px;
      outline: none;
      text-align: center;
      color: black;
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    @include flex(column);
    //height: 100vh;
    width: 100%;
    justify-content: start;
    h2 {
      width: 100%;
      text-align: center;
      font-size: 30px;
    }
    p {
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
    .input {
      @include flex(row);
      width: 100%;
      .input-box {
        height: 24px;
        width: 100px;
        margin: 1%;
        font-size: 16px;
      }
    }
    .buttons {
      button {
        border: 1px solid white;
        outline: none;
        background: transparent;
        color: white;
        width: 60px;
        height: 40px;
        &:hover {
          background: white;
          color: black;
        }
      }
    }
    .timer-container {
      width: 90%;
      height: auto;
      border-radius: 10px;
      padding: 3% 0;
      @include flex(row);
      p {
          display: none
      }
      .circles {
        @include flex(row);
        width: 80px;
        height: 70px;
        margin: 2%;
        border-radius: 20px;
        font-size: 20px;
      }
    }
  }
}
